<?xml version="1.0"?>
<launch>
	<arg name="gps_com" default="/dev/ttyUSB2" />	
	<arg name="imu_com" default="/dev/ttyUSB0" />

	
	<include file="$(find gps_parser)/launch/gps.launch">
		<arg name="gps_com" value="$(arg gps_com)" />
	</include>


	<node name="imu_serial" pkg="asv_sensors" type="imu_serial.py" args="port:=$(arg imu_com)" />

	<node name="imu" pkg="asv_sensors" type="imu_comm.py" />

</launch>