<?xml version="1.0"?>
<launch>
	<!-- If permission error comes. Do chmod 777 to /dev/ttyUSBx-->
	<arg default="/dev/ttyUSB0" name="gps_com" />
	<arg default="38400" name="gps_baud" />
	<node args="_port:=$(arg gps_com) _baud:=$(arg gps_baud) _frame_id:=garmin" name="gps" pkg="nmea_navsat_driver" type="nmea_serial_driver">
		<remap from="/odom" to="/odom_data" />
	</node>

  <!--<node name="gps_conv" pkg="gps_common" type="utm_odometry_node" args="_child_frame_id:=base_footprint">
  </node>-->
  <!--<node pkg="nodelet" type="nodelet" name="Plus3" args="navsat_odometry/nodelet" />-->
</launch>
