<?xml version="1.0" ?>
<launch>

	<!--Contains the Input scripts from the Sensors-->
	<node name="gps_socket" pkg="asv_sensors" type="gps_socket.py">
		<param name="host" value="192.168.0.100" />
		<param name="port" value="50000" />
	</node>
	<node name="imu_socket" pkg="asv_sensors" type="imu_socket.py">
		<param name="host" value="192.168.0.100" />
		<param name="port" value="40000" />
	</node>


	<!--Sensor parsers scripts run here-->
	<node name="imu_parser" pkg="asv_sensors" type="imu_comm.py" />
	<node name="gps_parser" pkg="nmea_navsat_driver" type="nmea_topic_driver" />

	<node name="lms1xx" pkg="lms1xx" type="LMS1xx_node">
		<param name="host" value="192.168.0.101"/>
		<param name="frame_id" value="lidar" />
	</node>

</launch>