<?xml version="1.0" ?>
<launch>
	<node name="lms1xx" pkg="lms1xx" type="LMS1xx_node">
		<rosparam file="$(find asv_sensors)/config/lms1xx.yaml" command="load" />
	</node>

	<node name="slam" pkg="hector_mapping" type="hector_mapping">
		<!--<rosparam file="$(find asv_sensors)/config/slam.yaml" command="load" />-->
	</node>
</launch>